<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Profile</title>
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-5">
                <div id="quotes">
                    <h3>{{user.first_name}} {{user.last_name}}'s Quotes</h3>
                    {% for quote in user.user_quotes.all %}
                    <div class="one_post">
                        <p class="post">{{quote.author}}: {{quote.message}}</p>
                        {% if logged_in.id == quote.poster.id %}
                        <a href="/{{quote.id}}/delete">DELETE</a>
                        {% endif %}
                    </div>
                    {% endfor %}
                </div>
            </div>
            <div class="col-3 offset-4">
                <a href="/quotes">Back</a>
                <a class="btn btn-danger" href="/logout">Logout</a>
            </div>
        </div>
    </div>
</body>

</html>